*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px 100px 0 100px;
    transition: 1.5s;
}

.cafeBtn{
    background-color: #017143;
    border: none;
    border-radius: 20px;
    padding: 12px;
    color: white;
    font-size: 12pt;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cafeBtn:hover{
    background-color: #004f2e;
}

h2{
    font-size: 42pt;
    font-weight: 500;
}

p{
    font-size: 14pt;
    margin: 20px 0 20px 0;
}

.githubLink{
    text-decoration: none;
    color: #01653c;
    font-size: 30px!important;
}

.navIcons{
    display: flex;
    gap: 30px;
}

.starbucksTxt{
    color: #017143;
    font-weight: 900;
}

.logo-starbucks{
    width: 80px;
}

.copoVerde{
    width: 340px;
    z-index: 99;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: transform 0.3s ease-in-out;
}

.miniVerde, .miniLaranja, .miniRosa{
    width: 40px;
    cursor: pointer;
}

.box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-text{
    width: 600px;
}

.box-image{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.miniaturas{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.miniatura{
    transition: 0.5s;
}

.miniatura:hover{
    transition: 1s;
    transform: translateY(-25px);
}

.circulo{
    background-color: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    transition: 1.3s;
}

.OnOffDark{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    color: #004f2e;
    font-size: 25px;
    transition: 1.5s;
}

.btnLight{
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}

.idark{
    color: #fff!important;
    transition: 1.5s;
}

.dark{
    /*#0e0e0ee6  #14271f  #043b24*/
    background-color: #043b24;
    color: #fff!important;
    transition: 1.5s;
    .cafeBtn{
        background-color: #fff;
        color:#043b24;
        font-weight: 600;
    }
    .cafeBtn:hover{
        background-color: #dbdbdb;
    }
    .starbucksTxt{
        color: #fff;
    }
    .githubLink{
        text-decoration: none;
        color: #ffffff;
    }
}

